src/main/mule/update-zipcode-list.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-zipcode-listFlow" doc:id="29e66782-3466-4efa-b032-60bbf2a3eb6f" >
		<ee:transform doc:name="Transform Message" doc:id="1149446c-86bc-4c2b-880e-61d7d08d239f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.dbinsert]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="65b07ff3-8173-40a0-a5c5-9230df5e3343" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
    street : "No 12",
    postal_code: "04623",
    state: "Maine",
    city: "Columbia, Town of",
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c306df54-f63a-4d16-93e0-ccbb56ef974a" />
		<db:insert doc:name="Insert" doc:id="1ddba464-ef71-4280-b6d9-8308f75855dd" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO zipcode_location (street, city, state, zipcode)
VALUES (:street, :city, :state , :zipcode)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"street" : payload.street, "city" : payload.city, "state" : payload.state , "zipcode": payload.postal_code}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="4fc19686-8bbb-4e98-84c5-59ddc27fafb7" message="#[payload]" category="db-response"/>
	</flow>
</mule>
